body{
  overflow: hidden;
}

a {
  text-decoration: none;
}

.content{
  background-image: url(../../public/assets/login.svg);
  background-repeat: no-repeat; 
  background-size: 50%;
  background-position: 33vw 10vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.login-form{
 position: absolute;
  left: 550px;
  top: 150px;
}
  
.login-title{
display: flex;
justify-content: center;
font-family: 'Exo';
font-weight: 600;
font-size: 22px; color: #fff;
}

.login-title span{
  color: white;
}

.field-group{
  display: flex;
  justify-content: center;
}

 button + button{
  margin-left: 16px;
}

input{   
  background-color: #f7f7f7;
  border: 0;
  margin-bottom: 16px;
  padding: 16px 26px;
  font-size: 16px;
  border-radius: 25px;
  outline: none;
  opacity: 0.9;
}

button{
  margin-top: 20px;
  width: 100px;
  height: 40px;
  top: 20px;
  border-radius: 25px;
  margin: 0;
  border: 0;
  font-family: 'Exo', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

button[type=submit]{
  background-color: #7582ff;
  width: 240px;
  height: 40px;
  font-weight: bold;
  transition: 600ms;
  margin-bottom: 15px;
  color: white;
}

button[type=button]{
  background-color: white;
  opacity: 0.9;
}

button:hover{
  opacity: 0.6;
}

.err{
  color: red;
  font-size: 20px;
  font-family: 'Exo';
  font-weight: bold;
  left: 525px;
  top: 100px;
  position: absolute; 
}